# Author: Daniel Benjamin Perez Morales
# GitHub: https://github.com/DanielPerezMoralesDev13
# Email: danielperezdev@proton.me

# Incluir los fichero de documentación principal.
include ./README.*

# Incluir el fichero de licencia del proyecto.
include ./LICENSE*

# Incluir los siguientes documentos relacionados con la conducta y seguridad.
include ./CODE_OF_CONDUCT.md
include ./CODIGO_CONDUCTA.md
include ./SECURITY.*
include ./pycrypy.spec

# Incluir los requisitos del proyecto para la instalación de dependencias.
include ./requirements.txt

# Incluir el archivo de contribución para guiar a los colaboradores.
include ./CONTRIBUCION.md

# Incluir todos los archivos de datos en los directorios 'src' y 'dist'.
recursive-include ./src *
recursive-include ./dist *

# Excluir todos los directorios '.mypy_cache' en cualquier nivel del árbol de directorios.
global-exclude */.mypy_cache *

# Excluir todos los directorios '__pycache__' en cualquier nivel del árbol de directorios.
global-exclude */__pycache__ *

# Excluir los archivos del directorio '.git' para evitar incluir información de control de versiones.
recursive-exclude ./.git *

# Excluir todos los archivos en el directorio 'Themes' para mantener el foco en los archivos relevantes.
recursive-exclude ./Themes *

# Excluir los siguientes archivos de configuración y control.
exclude ./.gitignore
exclude ./.gitattributes
exclude ./.editorconfig
exclude ./*.asc

